html{
  height: 100%;
  background-color: #f5eeae;
  color: black;
  font-family: monospace, sans-serif;
}

body{
  height: 100%;
}

h1, h2{
    text-align: center;
  }
  
main{
  display: flex;
  margin: 15% 2%;
}

section{
  width: 100%;
  border: 1px solid black;
  padding: 12px;
}

h3{
  height: 2em;
}

.option{
  margin-bottom: 0.5em;
}

input{
  margin-right: 7px;
}

#roleInputs{
  flex-grow: 1;
}

#companyInputs{
  flex-grow: 1;
}

#resultsContainer{
  flex-grow: 2; 
}

input{
  background-color: rgb(18, 24, 42);
  border-color: black;
}